$SPACE_UNIT: 4;

.btn-w-full {
  width: calc(var(--d) + 100%);
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.column {
  flex-direction: column;
}
.justify-right {
  justify-content: right;
}
.justify-center {
  justify-content: center;
}
.box-border {
  box-sizing: border-box;
}
.border-radius {
  border-radius: 10px;
}
.font-S {
  font-size: 1em;
}
.font-M {
  font-size: 2em;
}
.font-L {
  font-size: 3em;
}
.font-XL {
  font-size: 4em;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 calc(2 * $SPACE_UNIT * 1px);
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
}

@mixin h($height) {
  height: calc($height * $SPACE_UNIT * 1px);
}
.h-1 {
  @include h(1);
}
.h-2 {
  @include h(2);
}
.h-4 {
  @include h(4);
}
.h-8 {
  @include h(8);
}
