@import './common';
@import './variables';

#root {
  height: calc(100vh - 20px);
  padding: 10px;
}

html {
  font-family: 'Alata', sans-serif;

  color: $primary-color;

  background-image: url('./assets/greenCarpet.jpg');
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}
