.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transition: all 2s;
  transform-style: preserve-3d;
  &:hover {
    .box {
      outline: 3px solid salmon;
    }
  }
  &.rotating {
    animation: rotate 0.9s linear infinite;
  }
  &.value_1 {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  &.value_2 {
    transform: rotateY(90deg) rotateZ(180deg);
  }
  &.value_3 {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  &.value_4 {
    transform: rotateY(90deg) rotateZ(0deg);
  }
  &.value_5 {
    transform: rotateY(270deg) rotateZ(90deg);
  }
  &.value_6 {
    transform: rotateY(90deg) rotateZ(90deg);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
}

/* Applying styles to each face */
.box1 {
  transform: translateZ(50px);
}

.box2 {
  transform: rotateY(90deg) translateX(50px);
  transform-origin: right;
}

.box3 {
  transform: rotateY(180deg) translateZ(50px);
}

.box4 {
  transform: rotateY(-90deg) translateX(-50px);
  transform-origin: left;
}

.box5 {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top;
}

.box6 {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom;
}

// Position for each dice value :
// 1: transform: rotateY(0deg) rotateZ(0deg);
// 2: transform: rotateY(90deg) rotateZ(180deg);
// 3: transform: rotateY(180deg) rotateZ(180deg);
// 4: transform: rotateY(90deg) rotateZ(0deg);
// 5: transform: rotateY(270deg) rotateZ(90deg);
// 6: transform: rotateY(90deg) rotateZ(90deg);

/* Animating the elements */
@keyframes rotate {
  0% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
